
.frame1{
    display: flex;

}
.frame1 > .logo,
.frame1 > .sc{
width: 20%;
}
.frame1 > .name{
    width: 60%;
}
.logo{
    background-image: url('images/bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    letter-spacing: 3px;
    
}
.sc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 1rem 3rem;
}
.se input{
    
    outline: none;
    border-style: none;
    border: 1px solid #5f3dc4;
    border-radius: 25px;
}
input{
    padding: 0.75rem 1.5rem;
    

}
.navbar {
    overflow: hidden;
    display: flex;
    background-color: #333;
    justify-content: space-evenly;
}   
.navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}   
.navbar a:hover {
    background-color: #ddd;
    color: black;

}
.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(1000px*5);
    animation: scroll 20s linear infinite;
}

.slide {
    width: 1000px;
    height: 300px;
    margin-right: 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 5)); }
}
.shirt {
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;   
}
.item{
    
    min-width: 150px;
    height: 230px;
    padding: 25px 5px 0;
    object-fit: contain;
}
.item:hover{
    box-shadow: rgba(214, 157, 11, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.item img{
    padding-left: 25px;
}
::-webkit-scrollbar {
    width: 10px;
}
s{
    color:gray;
}
.r{
    display: flex;
}
.r > .rate,
.r > .per
{
    width:50%;
}
.per{
    color:green;
}