.frame1{
    display: flex;

}
.frame1 > .logo,
.frame1 > .sc{
width: 20%;
}
.frame1 > .name{
    width: 60%;
}
.logo{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    letter-spacing: 3px;
    
}
.sc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi{
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid ;
    border-radius: 5px;
    background-color: aqua;
    position: sticky;
    top: 0;
}
.navi > .place{
width: 20%;
}  
.place{
    padding-left: 100px;
}




.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(1000px*5);
    animation: scroll 20s linear infinite;
}

.slide {
    width: 1000px;
    height: 300px;
    margin-right: 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 5)); }
}
.shirt {
    border: 1px solid #ddd;
    display: flex;
    overflow-x: scroll;   
}
.item{
    
    min-width: 150px;
    height: 220px;
    padding: 25px 5px 0;
    object-fit: contain;
}
.item:hover{
    box-shadow: rgba(93, 81, 50, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.item img{
    padding-left: 25px;

}

::-webkit-scrollbar {
    width: 10px;
}
